

body {
  background: #F5F5F8;
}

path.state {
  cursor: pointer;
}

h2.map-section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  color: #343F49;
}

.map-wrap {
  background: #F5F5F8;
  padding: 115px 15px 120px 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.map-filter-instructions {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.map-content-wrap::after,
.map-content-wrap .downstream-growth::after,
.map-content-wrap .upstream-growth::after,
.map-content-wrap .performance .bars::after,
.map-content-wrap .performance .figures-legend .legend-row::after,
.map-content-wrap .isp-operators #isp-operator-names::after,
#small-states .small-state::after {
  content: "";
  clear: both;
  display: table;
}

.map-content-wrap {
  position: relative;
}

.map-content-wrap .data-col {
  width: 330px;
  margin-right: 70px;
  float: left;
}

.map-content-wrap #state-map {
  width: 740px;
  float: left;
  margin-top: 40px;
}

.map-content-wrap .state-filter {
  margin-bottom: 20px;
}

.map-content-wrap .downstream-growth,
.map-content-wrap .upstream-growth,
.map-content-wrap .performance {
  margin-bottom: 20px;
}

.map-content-wrap .downstream-growth .overall,
.map-content-wrap .upstream-growth .overall {
  margin-right: 2%;
}

.map-content-wrap .downstream-growth .overall,
.map-content-wrap .upstream-growth .overall,
.map-content-wrap .downstream-growth .past-week,
.map-content-wrap .upstream-growth .past-week {
  float: left;
  /*width: 50%;*/
  width: 49%;
}

.map-content-wrap .downstream-growth-title,
.map-content-wrap .upstream-growth-title,
.map-content-wrap .performance-title,
.map-content-wrap .isp-title {
  color: #343F49;
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #343F49;
}

.map-content-wrap .downstream-growth-title .small,
.map-content-wrap .upstream-growth-title .small,
.map-content-wrap .performance-title .small {
  font-size: 1rem;
}

.map-content-wrap .downstream-growth .figure .num,
.map-content-wrap .upstream-growth .figure .num {
  /*font-size: 2.5rem;
  line-height: 2rem;
  font-weight: bold;*/
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -0.0125rem;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .map-content-wrap .downstream-growth .figure .num,
  .map-content-wrap .upstream-growth .figure .num {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

.map-content-wrap .downstream-growth .figure .percent,
.map-content-wrap .upstream-growth .figure .percent {
  vertical-align: top;
  /*font-size: 1.25rem;*/
  font-weight: bold;
  letter-spacing: -0.0125rem;
  font-size: 1rem;
}

.map-content-wrap .data-col .overall .figure {
  color: #8c489a;
  float: left;
  margin-right: 10px;
}

.map-content-wrap .data-col .past-week .figure {
  color: #5ac9e7;
  float: left;
  margin-right: 10px;
}

.map-content-wrap .data-col .overall .metric-label,
.map-content-wrap .data-col .past-week .metric-label  {
  text-transform: uppercase;
  color: #343F49;
  font-size: 0.9rem !important;
  line-height: 1.1rem !important;
}

.map-content-wrap .performance .bars {
  height: 35px;
  width: 250px;
  margin-bottom: 15px;
}

.map-content-wrap .performance .bars .bar {
  height: 35px;
  float: left;
}

.map-content-wrap .performance .bars #bar-normal {
  background: #00AC92;
}

.map-content-wrap .performance .bars #bar-elevated {
  background: #FED241;
}

.map-content-wrap .performance .bars #bar-substantially-elevated {
  background: #ed6660;
}

.map-content-wrap .performance .bars #bar-severely-elevated {
  background: #e71b4f;
}

.map-content-wrap .performance .figures-legend .legend-row {
  margin-bottom: 10px;
  line-height: 1.1rem;
}

.map-content-wrap .performance .figures-legend .figure,
.map-content-wrap .performance .figures-legend .legend-label {
  font-size: 1rem !important;
}

.map-content-wrap .performance .figures-legend .figure,
.map-content-wrap .performance .figures-legend .key,
.map-content-wrap .performance .figures-legend .legend-label {
  float: left;
  margin-right: 8px;
}

.map-content-wrap .performance .figures-legend .figure {
  font-weight: bold;
  width: 35px;
  text-align: center;
  margin-right: 15px;
}

.map-content-wrap .performance .figures-legend .key {
  width: 15px;
  height: 15px;
}

.map-content-wrap .performance .figures-legend .key.green {
  background: #00AC92;
}

.map-content-wrap .performance .figures-legend .key.yellow {
  background: #FED241;
}

.map-content-wrap .performance .figures-legend .key.orange {
  background: #ed6660;
}

.map-content-wrap .performance .figures-legend .key.red {
  background: #e71b4f;
}

.map-content-wrap .isp-operators {
  min-height: 120px;
}

.map-content-wrap .isp-operators .provider {
  float: left;
  margin-right: 15px;
  margin-bottom: 7px;
}

.map-content-wrap .isp-operators .provider a {
  text-transform: uppercase;
  text-decoration: none;
  color: #343F49;
  font-size: 1rem !important;
  line-height: 1.25rem;
}

.map-content-wrap .isp-operators .provider a:hover {
  border-bottom: 2px solid #343F49;
}

.map-content-wrap #small-states {
  clear: both;
  position: absolute;
  right: -15px;
  width: 60px;
  bottom: 100px;
}

.map-content-wrap #small-states .small-state {
  margin-bottom: 10px;
}

.map-content-wrap #small-states .small-state .box {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #343F49;
  cursor: pointer;
}

.map-content-wrap #small-states .small-state .box:hover {
  background: #8c489a !important;
}

.map-content-wrap #small-states .small-state .box-text {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.map-wrap .bottom-notes-sources .notes,
.map-wrap .bottom-notes-sources .sources {
  padding: 20px 0px;
  border-bottom: 1px solid #343F49;
}

.map-wrap .bottom-notes-sources .notes .notes-description,
.map-wrap .bottom-notes-sources .sources .sources-description  {
  display: block;
}

.map-wrap .bottom-notes-sources .notes .notes-title,
.map-wrap .bottom-notes-sources .sources .sources-title {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  font-size: 1rem !important;
  line-height: 1.1rem !important;
}

.map-wrap .bottom-notes-sources .notes .notes-title .arrow,
.map-wrap .bottom-notes-sources .sources .sources-title .arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.map-wrap .bottom-notes-sources .notes .notes-description div {
  padding-bottom: 5px;
  font-size: 1rem !important;
  line-height: 1.1rem !important;
}

.map-wrap .bottom-notes-sources .sources .sources-description {
  font-size: 1rem !important;
  line-height: initial;
}

.map-wrap .bottom-notes-sources .notes .notes-description,
.map-wrap .bottom-notes-sources .sources .sources-description {
  padding-top: 10px;
}

.map-wrap .bottom-notes-sources .notes .notes-description .green {
  color: #00AC92;
}

.map-wrap .bottom-notes-sources .notes .notes-description .yellow {
  color: #FED241;
}

.map-wrap .bottom-notes-sources .notes .notes-description .orange {
  color: #ed6660;
}

.map-wrap .bottom-notes-sources .notes .notes-description .red {
  color: #e71b4f;
}

.map-wrap .bottom-notes-sources .notes .notes-title .arrow b,
.map-wrap .bottom-notes-sources .sources .sources-title .arrow b {
  border-style: initial;
  border-width: initial;
  border-color: initial;
  margin-left: 0;
  margin-top: 0;
  left: initial;
  right: 10px;
  position: absolute;
  border-bottom: 3px solid #343F49;
  border-right: 3px solid #343F49;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all .15s ease-in-out;
  height: 10px;
  width: 10px;
}

.map-wrap .bottom-notes-sources .notes.active .notes-title .arrow b,
.map-wrap .bottom-notes-sources .sources.active .sources-title .arrow b {
  transform: rotate(225deg);
}




.map-content-wrap .select2-container--default .select2-selection--single {
  height: 48px;
}

.map-content-wrap .select2-container--default {
    width: 100% !important;
}

.map-content-wrap .select2-container--default .select2-selection--single {
    background-color: #F5F5F8;
    border: 1px solid #343F49;
    border-radius: 0;
    font-size: 1.125rem;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 1.5rem;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
    height: 12px;
    top: 50%;
    width: 12px;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #8c489a;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 40px;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: initial;
    border-width: 0;
    border-color: initial;
    margin-left: 0;
    margin-top: 0;
    left: auto;
    right: 25px;
    position: absolute;
    border-bottom: 3px solid #8c489a !important;
    border-right: 3px solid #8c489a !important;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
}

.select2-dropdown.select2-dropdown--above .select2-results__option[aria-selected=true], .select2-dropdown.select2-dropdown--below .select2-results__option[aria-selected=true] {
    font-weight: 700;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: transparent;
    color: #A5BBC3;
    background-image: url(/themes/ncta/images/2F1B0EA4-C37B-4846-B9FB-5327D4CBEE15%403x.png);
    background-repeat: no-repeat;
    background-position: 92% 41%;
    background-size: 14px;
    padding-right: 25px;
}

.select2-dropdown .select2-results__option:hover {
    background-color: #d8d8d8!important;
    color: #343F49;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d8d8d8!important;
    color: #343F49;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .map-content-wrap .downstream-growth-title .small,
  .map-content-wrap .upstream-growth-title .small,
  .map-content-wrap .performance-title .small {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 1199px) {
  .map-content-wrap #state-map {
    width: 614px;
  }
  .map-content-wrap .data-col {
    width: 280px;
    margin-right: 40px;
  }
  .map-content-wrap #small-states {
    bottom: 160px;
  }
  .map-content-wrap .performance .figures-legend .legend-label {
    max-width: 180px;
  }
  .map-content-wrap .downstream-growth-title,
  .map-content-wrap .upstream-growth-title,
  .map-content-wrap .performance-title,
  .map-content-wrap .isp-title {
    font-size: 1.35rem;
  }
}

@media all and (max-width: 991px) {
  .map-content-wrap .data-col {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .map-content-wrap .data-col::after {
    content: "";
    clear: both;
    display: table;
  }
  .map-content-wrap #state-map {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .map-content-wrap #small-states {
    position: static;
    width: auto;
  }
  .map-content-wrap #small-states .small-state {
    float: left;
    margin-right: 15px;
  }
  .map-content-wrap #small-states .small-state .box {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .map-content-wrap .select2-container--default {
    max-width: 50%;
  }
  .downstream-growth {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .upstream-growth {
    width: 48%;
    float: left;
  }
  .map-content-wrap .performance {
    clear: left;
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .map-content-wrap .isp-operators {
    float: left;
    width: 48%;
  }
}
@media all and (max-width: 767px) {
  .map-content-wrap #state-map {
    margin-top: 0;
  }
  .map-content-wrap .select2-container--default {
    max-width: 100%;
  }
  .downstream-growth {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto 30px auto;
  }
  .upstream-growth {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto 30px auto;
  }
  .map-content-wrap .performance {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto 30px auto;
  }
  .map-content-wrap .isp-operators {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto;
  }
  .map-content-wrap .downstream-growth-title,
  .map-content-wrap .upstream-growth-title,
  .map-content-wrap .performance-title,
  .map-content-wrap .isp-title {
    font-size: 1.5rem;
  }
  .map-content-wrap .state-filter {
    margin-bottom: 30px;
  }
}
