

body {
  background: #F5F5F8;
}

path.state {
  cursor: pointer;
}

h2.map-section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  color: #343F49;
}

.map-wrap {
  background: #F5F5F8;
  padding: 115px 15px 120px 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.map-filter-instructions {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.map-content-wrap::after,
.map-content-wrap .isp-operators #isp-operator-names::after,
#small-states .small-state::after {
  content: "";
  clear: both;
  display: table;
}

.map-content-wrap {
  position: relative;
}

.map-content-wrap .data-col {
  width: 280px;
  margin-right: 70px;
  float: left;
}

.map-content-wrap #state-map {
  width: 790px;
  float: left;
}

.map-content-wrap .state-filter {
  margin-bottom: 30px;
}

.map-content-wrap .isp-title {
  color: #343F49;
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #343F49;
}

.map-content-wrap .isp-operators .provider {
  margin-bottom: 12px;
  margin-left: 20px;
  display: list-item;
}

.map-content-wrap .isp-operators .provider a {
  text-transform: uppercase;
  text-decoration: none;
  color: #343F49;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.map-content-wrap .isp-operators .provider a:hover {
  border-bottom: 2px solid #343F49;
}

.map-content-wrap #small-states {
  clear: both;
  position: absolute;
  right: -20px;
  width: 60px;
  bottom: 50px;
}

.map-content-wrap #small-states .small-state {
  margin-bottom: 10px;
}

.map-content-wrap #small-states .small-state .box {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #343F49;
  cursor: pointer;
}

.map-content-wrap #small-states .small-state .box:hover {
  background: #ffca36 !important;
}

.map-content-wrap #small-states .small-state .box-text {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.map-content-wrap .select2-container--default .select2-selection--single {
  height: 48px;
}

.map-content-wrap .select2-container--default {
    width: 100% !important;
}

.map-content-wrap .select2-container--default .select2-selection--single {
    background-color: #F5F5F8;
    border: 1px solid #343F49;
    border-radius: 0;
    font-size: 1.125rem;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 1.5rem;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
    height: 12px;
    top: 50%;
    width: 12px;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #343F49;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 40px;
}

.map-content-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: initial;
    border-width: 0;
    border-color: initial;
    margin-left: 0;
    margin-top: 0;
    left: auto;
    right: 25px;
    position: absolute;
    border-bottom: 3px solid #343F49 !important;
    border-right: 3px solid #343F49 !important;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
}

.select2-dropdown.select2-dropdown--above .select2-results__option[aria-selected=true], .select2-dropdown.select2-dropdown--below .select2-results__option[aria-selected=true] {
    font-weight: 700;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: transparent;
    color: #A5BBC3;
    background-image: url(/themes/ncta/images/2F1B0EA4-C37B-4846-B9FB-5327D4CBEE15%403x.png);
    background-repeat: no-repeat;
    background-position: 92% 41%;
    background-size: 14px;
    padding-right: 25px;
}

.select2-dropdown .select2-results__option:hover {
    background-color: #d8d8d8!important;
    color: #343F49;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d8d8d8!important;
    color: #343F49;
}
@media all and (max-width: 1199px) {
  .map-content-wrap #state-map {
    width: 614px;
  }
  .map-content-wrap .data-col {
    width: 280px;
    margin-right: 40px;
  }
  .map-content-wrap #small-states {
    bottom: 160px;
  }
  .map-content-wrap .isp-title {
    font-size: 1.35rem;
  }
}

@media all and (max-width: 991px) {
  .map-content-wrap .data-col {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .map-content-wrap .data-col::after {
    content: "";
    clear: both;
    display: table;
  }
  .map-content-wrap #state-map {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .map-content-wrap #small-states {
    position: static;
    width: auto;
  }
  .map-content-wrap #small-states .small-state {
    float: left;
    margin-right: 15px;
  }
  .map-content-wrap #small-states .small-state .box {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .map-content-wrap .select2-container--default {
    max-width: 50%;
  }
  .map-content-wrap .isp-operators {
    float: left;
    width: 48%;
  }
}
@media all and (max-width: 767px) {
  .map-content-wrap #state-map {
    margin-top: 0;
  }
  .map-content-wrap .select2-container--default {
    max-width: 100%;
  }
  .map-content-wrap .isp-operators {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto;
  }
  .map-content-wrap .isp-title {
    font-size: 1.5rem;
  }
  .map-content-wrap .state-filter {
    margin-bottom: 30px;
  }
}
